// @import 'reset';

/* Set to Default Box Sizing */
* {
	-webkit-box-sizing: border-box; 
       -moz-box-sizing: border-box;
            box-sizing: border-box; 
}

html, body { height: 100%; margin: 0; padding: 0; }
body { font-size: 14px; }
img  { width: auto; max-width: 100%; }

:global .text-center {text-align: center;}
:global .text-left {text-align: left;}
:global .text-right {text-align: right;}

