<div id="left-panel" layout flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left-nav" md-disable-backdrop md-is-open="vm.leftOpen" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <div class="md-toolbar-tools">
                <h2 flex md-truncate ng-transclude style="text-align: center"></h2>
                <md-button class="md-icon-button" aria-label="Hide" ng-click="vm.toggleLeft()">
                    <md-icon md-svg-icon="arrow-collapse-left"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-margin layout="column" style="height: 90%;">
            <div flex="20" layout="column">
                <div layout>
                    <md-icon md-svg-icon="airplane-takeoff" flex="10"></md-icon>
                    <h3 style="padding-left: 5px;" flex>{{ vm.MAP.origin[0].name }}</h3>
                </div>
                <div layout>
                    <md-icon md-svg-icon="google-circles-extended" flex="10"></md-icon>
                    <h3 style="padding-left: 5px;" flex>{{ vm.MAP.hub[0].name }}</h3>
                </div>
                <div layout>
                    <md-icon md-svg-icon="airplane-landing" flex="10"></md-icon>
                    <h3 style="padding-left: 5px;" flex>{{ vm.MAP.destination[0].name }}</h3>
                </div>
            </div>
            <div layout="column">
                <hr class="hr_style">
                <div id="page-title" style="margin: 10px 0 0 0; font-size: 16px !important;">
                    <span class="title1">Hub</span> <span class="title2">List</span>
                </div>
            </div>
            <div flex style="overflow: auto;">
                <md-list>
                    <md-list-item ng-if="vm.MAP.hubsList" class="md-2-line" ng-repeat="hub in vm.MAP.hubsList" ng-click="null">
                        <div style="background: url('/public/{{hub.carrier_code}}.png') no-repeat center center;
                            background-size: cover;
                            box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);"
                            class="md-avatar">
                        </div>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{hub.hub}}</h3>
                            <h4>{{hub.carrier_name}}</h4>
                        </div>
                    </md-list-item>
                </md-list>
                <div ng-if="!vm.MAP.hubsList.length" style="position: fixed; left: 50%; transform: translateX(-50%);">
                    No hubs available!
                </div>
            </div>
            <div layout="column">
                <hr class="hr_style">
                <div id="page-title" style="margin: 10px 0 0 0; font-size: 16px !important;">
                    <span class="title1">Legends</span>
                </div>
            </div>
            <div flex="5" layout id="legends">
                <div flex="40" layout="column" layout-align="space-between end">
                    <label>Selected Route: </label>
                    <label>Hub Route: </label>
                </div>
                <div flex layout="column" layout-align="space-between start">
                    <hr class="line" />
                    <hr class="dash" />
                </div>
            </div>
        </md-content>
    </md-sidenav>
</div>
<md-button class="btn-show md-raised md-primary" ng-show="vm.showLeft" ng-click="vm.toggleLeft()" style="left: 11px; background-color: rgb(66, 67, 70);">
    <md-icon md-svg-icon="arrow-expand-right"> </md-icon>
</md-button>