:global #left-panel {
    height: 100%;
    padding: 25px 15px;

    #legends {
        background-color: white;

        .dash { border-top: 2px dashed green; }
        .line {  border-top: 2px solid red; }

        label { padding-right: 5px; }
        hr { border: 0 none; background: none; height:0; width: 100% }
    }
}