<md-dialog aria-label="Route with Hub">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon md-svg-icon="format-list-bulleted"></md-icon>
                &nbsp
                <h2>Route with Hub</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.Cancel()">
                    <md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-table-container>
                    <table data-md-table data-md-row-select="vm.rowSelection" multiple="{{vm.multiSelect}}" data-ng-model="vm.selected" md-progress="promise">
                        <!-- <thead md-head md-order="query.order">
                        <tr md-row>
                          <th md-column ng-repeat="column in columns" md-numeric="column.numeric" md-order-by="{{column.orderBy}}">
                            <span>{{column.name}}</span>
                            <span ng-if="column.unit">({{column.unit}})</span>
                          </th>
                        </tr>
                      </thead> -->
                        <thead ng-if="!vm.decapitate" md-head>
                            <tr md-row>
                                <th md-column md-order-by="state.id" data-md-asc><span>Id</span></th>
                                <th md-column md-order-by="state.origin"><span>Origin</span></th>
                                <th md-column md-order-by="state.destination"><span>Destination</span></th>
                                <th md-column md-order-by="state.hub"><span>Hub</span></th>
                                <th md-column><span>Ticketed Carrier</span></th>
                            </tr>
                        </thead>
                        <tbody ng-show="vm.states.length" md-body>
                            <tr md-row md-select="state" md-select-id="id" md-auto-select="vm.autoSelect" data-ng-repeat="state in vm.states | orderBy: 'airport_code' | limitTo: vm.limit : (vm.page -1) * vm.limit">
                                <td md-cell>{{state.id}}</td>
                                <td md-cell>{{state.origin}}</td>
                                <td md-cell>{{state.destination}}</td>
                                <td md-cell><strong style="color: red">{{state.hub}}</strong></td>
                                <td md-cell>
                                    <div style="background: url('/public/{{state.carrier_code}}.png') no-repeat center center;
                                        background-size: cover;
                                        width: 40px;
                                        height: 40px;
                                        margin: 0 auto;
                                        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);"
                                        class="md-avatar">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>

                <md-table-pagination ng-show="vm.states.length" md-limit="vm.limit" md-limit-options="vm.limitOptions" md-page="vm.page"
                    md-total="{{vm.states.length}}" md-page-select="vm.pageSelect"></md-table-pagination>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout>
            <span flex></span>
            <md-button ng-click="vm.Cancel()">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>