:global #right-panel {
    height: 100%;
    padding: 25px 15px;

    .hint { font-size: 10px; font-style: italic; margin-top: 33px; }
    .md-load { margin: 0 auto; }

    
    
    md-progress-circular.md-default-theme path, md-progress-circular path {
        stroke: white;
    }
}

:global .autocomplete-custom-template {
    li {
        height: auto;
        padding: 5px;
        white-space: normal;
        font-size: 12px;
    }

    .item-title, .item-metadata {
        display: block;
        line-height: 2;

        .label-title { font-style: italic; font-weight: 100; }
    }
}