<div id="right-panel" layout flex>
    <md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-is-open="vm.rightOpen" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Hide" ng-click="vm.toggleRight();">
                    <md-icon md-svg-icon="arrow-collapse-right"></md-icon>
                </md-button>
                <h2 flex md-truncate ng-transclude style="text-align: center"></h2>
            </div>
        </md-toolbar>
        <md-content layout-margin>
            <form flex name="frmRoute" ng-submit="vm.findRoutes()" novalidate>
                <md-autocomplete flex required md-floating-label="Origin" md-input-name="origin" md-min-length="0" md-no-cache="vm.noCache"
                    md-search-text="vm.searchOrigin" md-items="item in vm.queryStates(vm.searchOrigin)" md-item-text="item.name"
                    md-require-match md-selected-item-change="vm.selectedOrigin(item.airport_code)" md-clear-button="true" md-match-case-insensitive="true"
                    md-select-on-match="true" md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                        <span class="item-title">
                                        <span><span class="label-title">Airport: </span>{{item.airport}}</span>
                        <span style="float: right;">
                                                <span class="label-title">Code: </span>
                        <span md-highlight-text="vm.searchOrigin" md-highlight-flags="^i">{{item.airport_code}}</span>
                        </span>
                        </span>
                        <span class="item-metadata">
                                        <span><span class="label-title">Country: </span>{{item.country}}</span>
                        </span>
                    </md-item-template>
                    <md-not-found>
                        No {{vm.searchOrigin}} found!
                    </md-not-found>
                    <div class="hint">Ex. MNL, SIN, MEL</div>
                </md-autocomplete>

                <md-autocomplete flex required md-floating-label="Destination" md-input-name="destination" md-min-length="0" md-no-cache="vm.noCache"
                    md-search-text="vm.searchDestination" md-items="item in vm.queryStates(vm.searchDestination)" md-item-text="item.name"
                    md-require-match md-selected-item-change="vm.selectedDestination(item.airport_code)" md-clear-button="true"
                    md-match-case-insensitive="true" md-select-on-match="true" md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                        <span class="item-title">
                                    <span><span class="label-title">Airport: </span>{{item.airport}}</span>
                        <span style="float: right;">
                                            <span class="label-title">Code: </span>
                        <span md-highlight-text="vm.searchDestination" md-highlight-flags="^i">{{item.airport_code}}</span>
                        </span>
                        </span>
                        <span class="item-metadata">
                                    <span><span class="label-title">Country: </span>{{item.country}}</span>
                        </span>
                    </md-item-template>
                    <md-not-found>
                        No {{vm.searchDestination}} found!
                    </md-not-found>
                    <div class="hint">Ex. MNL, SIN, MEL</div>
                </md-autocomplete>

                <div>
                    <hr class="hr_style">
                </div>

                <md-autocomplete flex md-floating-label="Departure Hub" md-input-name="hub" md-min-length="0" md-no-cache="vm.noCache" md-search-text="vm.searchHub"
                    md-items="item in vm.queryStates(vm.searchHub)" md-item-text="item.name" md-require-match md-selected-item-change="vm.selectedHub(item.airport_code)"
                    md-clear-button="true" md-match-case-insensitive="true" md-select-on-match="true" md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                        <span class="item-title">
                                        <span><span class="label-title">Airport: </span>{{item.airport}}</span>
                        <span style="float: right;">
                                                <span class="label-title">Code: </span>
                        <span md-highlight-text="vm.searchHub" md-highlight-flags="^i">{{item.airport_code}}</span>
                        </span>
                        </span>
                        <span class="item-metadata">
                                        <span><span class="label-title">Country: </span>{{item.country}}</span>
                        </span>
                    </md-item-template>
                    <md-not-found>
                        No {{vm.searchHub}} found!
                    </md-not-found>
                    <div class="hint">Ex. MNL, SIN, MEL</div>
                </md-autocomplete>

                <div class="text-center" layout="column">
                    <md-button flex type="submit" ng-disabled="!frmRoute.$valid" class="md-raised md-primary md-cornered btn-submit">
                        <md-icon md-svg-icon="airplane" style="width:1.5vw"> </md-icon>
                        <span ng-show="!vm.showSpinner">&nbsp {{vm.action}} &nbsp</span>
                        <md-progress-circular md-mode="indeterminate" ng-show="vm.showSpinner" md-color="red" class="md-load" md-diameter="{{vm.diameter}}"></md-progress-circular>
                    </md-button>
                    <a href="javascript:void(0);" ng-click="vm.showDialog($event)">List of Hubs</a>
                </div>
            </form>
        </md-content>
    </md-sidenav>
</div>
<md-button class="btn-show md-raised md-primary" ng-show="vm.showRight" ng-click="vm.toggleRight()" style="right: -12px; background-color: rgb(66, 67, 70);">
    <md-icon md-svg-icon="arrow-expand-left"> </md-icon>
</md-button>