:global #map-canvas {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

    
    #header {
        float: left;
        position: absolute;
        z-index: 3;
        top: 15px;
        left: 80px;

        .logo {
            background: url("/public/logo.png") no-repeat center center;
            background-size: cover;
            width: 190px;
            height: 100px;
        }
    }

    map-left-panel {
        z-index: 1;
        position: relative;
    }
   
    map-right-panel {
        z-index: 1;
        position: relative;
    }

    /**
    * Override the position of Md-SideNav
    */
    md-sidenav { position: relative;}
    :global .btn-show {
         position: absolute;
         top: 50%;
         transform: translate(-50%, -50%);
         min-width: 17px;
         min-height: 77px;
         margin: 0;
         padding: 0;
    }
}

:global .hr_style { border-top: 1px solid #2810f5; text-align: center; height: 0; width: 100%}
:global .hr_style:after { content: '§'; display: inline-block; position: relative; top: -10px; padding: 0 10px; background: #fff; color: #000000; font-size: 18px; -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); transform: rotate(60deg); }
:global #page-title {
    width: 100%;
    font-weight: 700;
    color: #000;
    text-align:center;
    text-transform: uppercase;
    font-size: 20px;

    .title1 {
        color: #2f2f2f
    }

    .title2 {
        color: #3F51B5
    }
}
